.font-size{
    font-size: 18px;
    margin-top:5px;
}
.main-font-size{
    font-size: 21px;
    margin-right:20px;
    margin-top:5px;
}
.bg{
    height:60px;
}
#frst-img{
    width:100%;
}
#s1{
    height:1300px;
}
